.container  {
    margin: auto;
    max-width: 600px;
}

.title {
    font-size: 72px !important;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 3em;
}

.segment {
    max-height: 250px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}